/*Elemente*/
main,nav {margin: 0 5% 10px;}

/*Klassen*/
.projektseite {font-size: 0.8em;background-color: lightgray;border: 2px solid grey;padding: 0 1em;margin: 0.5em 1em;}
.flp-code {font-size: 1.1em;font-family: 'Courier New', Courier, monospace;background-color: gray;color:white;font-weight: bold;border: 2px solid rgb(110, 110, 110);padding: 0 1em;}
.footer {position: fixed;left: 0;bottom: 0;width: 100%;background-color: rgb(128, 0, 128);color: white;text-align: left;}

/*Links*/
a{text-decoration: dotted;}
a:hover{text-decoration: none;}
a:visited{text-decoration: none;}