/*Links*/
a{color: black;text-decoration: none;margin: 5px 0;padding: 0.5em 1em;background-color: lightgrey;}
a:hover{color: white;text-decoration: none;background-color: rgb(111, 111, 111);}
a:visited{color: black;text-decoration: none;margin: 5px 0;padding: 0.5em 1em;background-color: lightgrey;}
a.projekt::after{content: "zum Projekt »";margin-left: 5px;}
a.extern::before{content: "↗";margin-right: 5px;}

main{margin: 0 10% 2em;}
code{background-color: #f9f9f9;border: 1px solid #aaa;border-radius: 4px;margin: 0.5em 0;padding: 0.5em;}
/*Klassen*/
.card{padding: 0 10px;}
.projekt-aktiv::before{content: "▶ Aktiv";color: green;font-weight: bold;margin: 5px 0;padding: 0.5em 1em;background-color: rgba(0, 255, 0, 0.3);border: 2px solid green;border-radius: 50px;}
.projekt-pausiert::before{content: "⏸ Pausiert";color: rgb(255, 123, 0);font-weight: bold;margin: 5px 0;padding: 0.5em 1em;background-color: rgba(255, 196, 0, 0.3);border: 2px solid rgb(255, 123, 0);border-radius: 50px;}
.projekt-inaktiv::before{content: "⏹ Inaktiv";color: red;font-weight: bold;margin: 5px 0;padding: 0.5em 1em;background-color: rgba(255, 0, 0, 0.3);border: 2px solid red;border-radius: 50px;}
.active {background-color: #04AA6D;}
.card{border: 1px solid #000;margin-left: 10px;}
.ersteller{color: red;font-family: 'Courier New', Courier, monospace;font-size: large;}
.projektseite {font-size: 0.8em;background-color: lightgray;border: 2px solid grey;padding: 0 1em;margin: 0.5em 1em;}
.flp-code {font-size: 1.1em;font-family: 'Courier New', Courier, monospace;background-color: gray;color:white;font-weight: bold;border: 2px solid rgb(110, 110, 110);padding: 0 1em;}
/*Links*/
a{text-decoration: none;}
a:hover{text-decoration: none;}
a:visited{text-decoration: none;}
/*Fixed Footer*/
.fix {
    position: fixed;
    padding: 0;
    margin: 0;
    bottom: 0;
    width: 100%;
    background: #616161;
    color: white;
    text-align: center;
}
